@{
    ViewData["Title"] = "Home Page";
}
 
<div class="container">
    <div class="row">
    <div class="col-3">Total Views:</div>
    <div class="col-4">
            <span class="text-primary" id="totalViewsCounter"></span>
    </div>
    </div>
    <div class="row">
        <div class="col-3">Total Users/Connections:</div>
        <div class="col-4">
            <span class="text-primary" id="totalUserCounter"></span>
        </div>
    </div>
</div>


<script src="~/js/UserCount.js"></script>